* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  background: linear-gradient(to top right, #81b622, #a0e7e5, #2ec719);
  display: grid;
  place-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  padding-bottom: 20px;
}

div {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}
code {
  background-color: rgb(43, 42, 42);
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
  display: grid;
  place-content: center;
}
